<h3 style="margin-bottom: 20px;">Select new widget</h3>
<div class="container-fluid">
    <div class="row">

        <div *ngFor="let item of widgets" class="widgetTile col-12  col-md-6 col-lg-4" style="padding: 2px;">
            <div *ngIf="item.class != null; else soonSection">
                <button mat-button (click)="addWidget(item.class.name)" style="width: 100%;">

                    <!-- <i style="margin: 10px; font-size: 50px;" class="{{item.icon}}"></i> -->
                    <div class="material-icons">
                        {{item.icon}}
                    </div>
                    <div>
                        <h5>{{item.class.name.split("Component")[0]}}</h5>
                        <p>{{item.description}}</p>
                    </div>

                </button>
            </div>
            <ng-template #soonSection>
                <button mat-button style="width: 100%; opacity: 50%;">
                    <!-- <i style="margin: 10px; font-size: 50px;" class="{{item.icon}}"></i> -->
                    <span class="material-icons">
                        {{item.icon}}
                    </span>
                    <div>
                        <h6>This widget will be added soon</h6>
                        <p>{{item.description}}</p>
                    </div>
                </button>
            </ng-template>


        </div>


    </div>


</div>