<div style="width: 95%; margin: auto; display: flex; flex-direction: column;">
  <div style="display: flex; justify-content: space-between;">
    <div style="font-size: 8vw; float: left;">
      <p style="margin: 0px;">{{tableName}}</p>
    </div>
    <div style="  align-self: flex-end;">

      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
    </div>
  </div>


  <div class="mat-elevation-z8">

    <table #table multiTemplateDataRows mat-table matSort [dataSource]="dataSource">

      <ng-container *ngFor="let item of keys" matColumnDef="{{item}}">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{item}} </th>
        <td mat-cell *matCellDef="let element"> {{element[item]}} </td>
      </ng-container>

      <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let element" [attr.colspan]="keys.length">
          <div class="example-element-detail" style="float: right;"
            [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
            <button mat-button style="margin: 10px; " (click)="openEditDialog(element,element[primaryKeyColumn])">
              <span class="material-icons">
                edit
              </span>
            </button>
            <button mat-button style="background-color:rgb(212, 67, 67);margin: 10px; "
              (click)="openDeleteDialog(element[primaryKeyColumn])">
              <span class="material-icons">
                delete
              </span>
            </button>

          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="keys"></tr>
      <!-- <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr> -->
      <tr mat-row *matRowDef="let element; columns: keys;" class="example-element-row"
        [class.example-expanded-row]="expandedElement === element" (click)="expandedElement = element"
        (click)="$event.preventDefault()">
      </tr>
      <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>

    </table>
    <div>

      <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
    </div>

  </div>
</div>


<div style="width: 95%;margin: auto;margin-top: 30px;">

  <button mat-raised-button (click)="openAddDialog()"
    style="background-color: rgb(34, 34, 34); border-radius: 2px; color: white; margin: 0;">Add new element</button>
  <button mat-raised-button (click)="downloadPDF()"
    style="background-color: rgb(211, 46, 46); border-radius: 2px; color: white; margin: 0; margin-left: 10px;">Download PDF</button>
</div>
