<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.url">jdbc:mysql://sql.adammalota.nazwa.pl/adammalota_nwta?serverTimezone=Europe/Warsaw</property>
        <property name="hibernate.connection.username">adammalota_nwta</property>
        <property name="hibernate.connection.password">Nwta123$</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL57Dialect</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <mapping class="pl.sztyro.hibernate.entities.User"/>
        <mapping class="pl.sztyro.hibernate.entities.UserDatabase"/>
    </session-factory>
</hibernate-configuration>