<div *ngFor="let item of menuItems" [style.background]="'rgb(0,0,0,'+ opacity +')'" style="cursor: pointer;" @fadeIn>



  <div *ngIf="direction == 'up'">
    <div [@openClose]="item.isOpen ? 'open' : 'closed'">
      <app-menu-item [direction]="'up'" [menuItems]="item.childs" [offset]="offset + 10" [isTitleVisible]="true"
        [opacity]="opacity + 0.09" [parent]="this">
      </app-menu-item>
    </div>
  </div>

  <div matRipple (click)="mouseEnter(item)" [routerLink]="item.routerLink" style="outline: none;">
    <div [style.marginLeft.px]="offset" style="margin-right: 10px; margin-left: 10px;">

      <div class="item-content-wrapper">
        <span style="display: flex;align-items: center;">
          <span class="material-icons" style="margin-right: 10px;" [innerHTML]="item.icon"></span>
          <span *ngIf="isTitleVisible">
            {{item.name |translate}}
          </span>
        </span>

        <span *ngIf="item.childs != null && item.childs.length > 0 && isTitleVisible"
          style="display: flex;align-items: center;">
          <span *ngIf="item.isOpen;else less" class="material-icons" style="margin-right: 5px;">
            expand_more
          </span>
          <ng-template #less>
            <span class="material-icons" style="margin-right: 5px;">
              expand_less
            </span>
          </ng-template>
        </span>
      </div>

    </div>
  </div>

  <div *ngIf="direction == 'down'">
    <div [@openClose]="item.isOpen ? 'open' : 'closed'">
      <app-menu-item (itemClicked)="mouseEnter($event)" [direction]="'down'" [menuItems]="item.childs"
        [offset]="offset + 10" [isTitleVisible]="true" [opacity]="opacity + 0.09" [parent]="this">
      </app-menu-item>
    </div>
  </div>



</div>