<div #buttons>
    <div style="display: flex; justify-content: space-between; max-height: 32px; margin-bottom: 10px;">
        <h1 mat-dialog-title>Editing chart: <i>{{father.chartData.chartTitle}}</i></h1>
        <button mat-raised-button style="background-color: #66bb6a; float: right;" (click)="saveChart()"> Save </button>
    </div>
    
    <mat-form-field style="margin-right: 10px;">
        <mat-label>Chart name</mat-label>
        <input matInput placeholder="Name your chart!" [(ngModel)]="father.chartData.chartTitle">
    </mat-form-field>
    <mat-checkbox [(ngModel)]="father.chartData.showTitle">Show name of chart.</mat-checkbox>
    <div style="display: flex; justify-content: space-between;">
        <mat-form-field style="margin-right: 10px;">
            <mat-label>Chart type</mat-label>
            <mat-select [(value)]="father.chartData.chartType">
                <mat-option *ngFor="let item of father.chartTypes" value="{{item}}" (click)="setChartType(item)">
                    {{item}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Legend</mat-label>
            <mat-select [(value)]="father.chartData.chartLegendPosition">
                <mat-option *ngFor="let item of father.chartLegendPositions" value="{{item}}"
                    (click)="selectLegendPosition(item)">
                    {{item | titlecase}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Table</mat-label>
            <mat-select [(ngModel)]="father.chartData.selectedTable" (click)="getTables()">
                <mat-option *ngFor="let item of father.rawTableNames" value="{{item}}" (click)="selectTable(item)">
                    {{item}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>




    <button mat-raised-button [matMenuTriggerFor]="columns" (click)="getColumns()" color="primary"
        *ngIf="father.chartData.selectedTable != null" style="margin-right: 10px;">Add column</button>
    <mat-menu #columns="matMenu">

        <div mat-menu-item *ngFor="let item of father.rawColumns, let i = index">
            <mat-checkbox (click)="addChartColumn(item,i)">{{item}}</mat-checkbox>
        </div>
    </mat-menu>

    <button mat-raised-button (click)="reset()" color="primary"> Reset</button>

    <h5 mat-dialog-title style="margin-top: 10px; margin-bottom: 10px;">Parameters:</h5>

    <div cdkDropList cdkDropListOrientation="horizontal" class="example-list" (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of father.chartData.chartColumns, let i = index" cdkDrag>{{item}}
            <button mat-button (click)="removeChartColumn(item,i)" style="width:30px !important;min-width: 15px; color: #c62828; 
                display: flex; justify-content: center; line-height: 30px !important;"><i
                    class="fas fa-times"></i></button>
        </div>
    </div>


    <h5 mat-dialog-title style="margin-top: 10px; margin-bottom: 10px;">Preview:</h5>

    <div style=" text-align: center; min-height: 500px; display: flex;">
        <div #chart style="width: 100%;
        margin: 0 auto !important;">

        </div>
    </div>
    
</div>