<h1 class="main-header" translate>new_institution</h1>

<div class="container-fluid" style="padding-top: 15px;">
    <mat-form-field class="example-form-field col-12 col-md-6">
        <mat-label>Name</mat-label>
        <input matInput type="text" [(ngModel)]="institution.name">
    </mat-form-field>

    <!-- <div class="row justify-content-end">
        <div class="col-12 col-md-6 col-lg-2 col-xl-1">
            <button mat-raised-button style="min-width: 100%;" (click)="saveCompany()" translate>save</button>
        </div>
    </div> -->

    <div class="row">
        <button mat-raised-button (click)="saveInstitution()" translate>save</button>
    </div>
</div>