/* You can add global styles to this file, and also import other style files */

@import "~@fortawesome/fontawesome-free/css/all.css";
@import '@angular/material/prebuilt-themes/indigo-pink.css';
:root {
  --textColor: #000;
  --textColorBright: #fff;
  --mainColor: rgb(54, 73, 83);
}

html, body {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-drawer-inner-container {
  display: flex;
}

a {
  color: white !important;
}

.main-header {
  font-size: 9rem;
  font-weight: 400;
}

.mat-raised-button, .mat-button-base {
  background-color: var(--mainColor);
  color: var(--textColorBright);
}

.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: var(--mainColor);
}