<body class="mat-app-background" style="height: 100vh">

  <span *ngIf="!(shared.screenWidth > 991) && hasMenu()" style="height: 36px;">
    <button mat-button (click)="toggleSideNav()" style="width: auto;"> 
      <span class="material-icons">menu</span>
    </button>
  </span>

  <mat-sidenav-container [style]="shared.screenWidth > 991 ? 'height: 100%;' : 'height: calc(100% - 36px);' ">

    <mat-sidenav *ngIf="hasMenu()" #sidenav mode="side" [opened]="shared.screenWidth > 991"
      style="background-color: var(--mainColor)" (mouseenter)="menu.sideNavExtend()"
      (mouseleave)="menu.sideNavExtend()" >
      <app-menu [@openClose]="menu.sideNavExtension ? 'open' : 'closed'"></app-menu>
    </mat-sidenav>

    <mat-sidenav-content style="display: flex;">


      <div style="width: 100%;">

        <router-outlet *ngIf="!isLoading"></router-outlet>

        <div *ngIf="isLoading" style="height: 100%; vertical-align: middle; display: flex;">

          <mat-progress-spinner style="margin: auto;" mode="indeterminate" color="primary"></mat-progress-spinner>

        </div>



      </div>

    </mat-sidenav-content>


  </mat-sidenav-container>

  <div class="container-fluid toast-wrapper">
    <div [class]="'col-12 col-md-7 col-lg-5 col-xl-2 toast-base mat-elevation-z6 ' + toast.type"
      *ngFor="let toast of shared.toasts" @fadeIn>
      <div [innerHTML]="toast.message | translate:toast.params" style="width: inherit;">
      </div>
    </div>
  </div>

</body>