<body class="mat-app-background">
  <mat-sidenav-container class="example-container" style="height: 100%; ">
    <mat-sidenav #sidenav mode="side" [(opened)]="opened" style="width: 50px; background-color: rgb(34, 34, 34);"
      (mouseenter)="sideNavExtend()" (mouseleave)=" sideNavExtend()"
      [@openClose]="sideNavExtension ? 'open' : 'closed'">
      <div *ngIf="sideNavExtension">

      </div>
      <div
        style="display: flex ; flex-direction: column; justify-content: space-between ; align-items: flex-end;overflow: hidden;width: 100%; ">
        <div style="color: white; display: flex; flex-direction: column; width: 100%;">

          <app-menu-item [menuItems]="menuItems" [isTitleVisible]="sideNavExtension" ></app-menu-item>
        </div>


        <!-- <div style="align-self: flex-end; display: flex; justify-content: end; align-items: flex-end; flex-direction: column;"> -->
        <div style="width: 100%; color: white;">


          <button mat-button matTooltip="{{'NAVBAR.LANGUAGE' | translate}}" [matMenuTriggerFor]="langMenu"
            class="sideNavContent">

            <div style="color: whitesmoke; ">

              <span class="material-icons"
                style="font-size: 20px; vertical-align: middle;padding: 10px;">translate</span>
            </div>
            <div *ngIf="sideNavExtension" style="vertical-align: middle;">
              Language
            </div>

          </button>
          <mat-menu #langMenu="matMenu">
            <button mat-menu-item *ngFor="let lang of translate.getLangs()" (click)="translate.use(lang)">{{lang |
              uppercase}}</button>

          </mat-menu>


          <!-- Sign out -->
          <button mat-button matTooltip="{{'NAVBAR.SIGN_OUT' | translate}}" class="sideNavContent" (click)="signOut()">

            <div style="color: whitesmoke; ">

              <span class="material-icons"
                style="font-size: 20px; vertical-align: middle;padding: 10px;">meeting_room</span>
            </div>
            <div *ngIf="sideNavExtension" style="vertical-align: middle;">
              Language
            </div>

          </button>
        </div>
      </div>






    </mat-sidenav>

    <mat-sidenav-content style="display: flex;">

      <div *ngIf="isSignedIn; else noUser">
        <!-- <div (mouseenter)="sidenav.open()"
          style="height: 100%;width: 1%; float: left; display: flex; justify-content: center; align-items: center;">
          <i class="fas fa-caret-right fa-2x"></i>
        </div> -->

        <div style="width: 100%;">
          <router-outlet></router-outlet>
        </div>
        <!--
        zz
        <div style="height: 100%;width: 1%; float: right; ">

        </div> -->
      </div>


      <ng-template #noUser>
        <div style="width: 100%;">

          <router-outlet></router-outlet>
        </div>
      </ng-template>




    </mat-sidenav-content>
  </mat-sidenav-container>

</body>
