<body class="mat-app-background">
  <mat-sidenav-container style="height: 100%; ">
    <mat-sidenav #sidenav mode="side" [(opened)]="opened" style="width: 50px; background-color: var(--mainColor)"
      (mouseenter)="sideNavExtend()" (mouseleave)="sideNavExtend()" [@openClose]="sideNavExtension ? 'open' : 'closed'">


      <div
        style="display: flex ; flex-direction: column; justify-content: space-between ; align-items: flex-end;overflow: hidden;width: 100%; ">
        <div style="color: white; display: flex; flex-direction: column; width: 100%;">

          <app-menu-item [direction]="'down'" [menuItems]="menuItems" [isTitleVisible]="sideNavExtension" [offset]="15">
          </app-menu-item>
        </div>


        <!-- <div style="align-self: flex-end; display: flex; justify-content: end; align-items: flex-end; flex-direction: column;"> -->
        <div style="width: 100%; color: white;">
          <div>
            <app-menu-item (itemClicked)="selectCompany($event)" [direction]="'up'" [menuItems]="companies"
              [isTitleVisible]="sideNavExtension" [offset]="15"></app-menu-item>
          </div>

          <app-menu-item (itemClicked)="selectLanguage($event)" [direction]="'up'" [menuItems]="languages"
            [isTitleVisible]="sideNavExtension" [offset]="15"></app-menu-item>

          <div matRipple (click)="signOut()" style="outline: none;cursor: pointer;">
            <div [style.marginLeft.px]="15" style="margin-right: 10px; margin-left: 10px;">

              <div class="item-content-wrapper">
                <span style="display: flex;align-items: center;">
                  <span class="material-icons" style="margin-right: 10px;">meeting_room</span>
                  <span> {{'NAVBAR.SIGN_OUT' |translate}}</span>
                </span>
              </div>

            </div>
          </div>

        </div>
      </div>






    </mat-sidenav>

    <mat-sidenav-content style="display: flex;">

      <div *ngIf="isSignedIn; else noUser">
        <!-- <div (mouseenter)="sidenav.open()"
          style="height: 100%;width: 1%; float: left; display: flex; justify-content: center; align-items: center;">
          <i class="fas fa-caret-right fa-2x"></i>
        </div> -->

        <div style="width: 100%;">
          <router-outlet></router-outlet>
        </div>
        <!--
        zz
        <div style="height: 100%;width: 1%; float: right; ">

        </div> -->
      </div>


      <ng-template #noUser>
        <div style="width: 100%;">

          <router-outlet></router-outlet>
        </div>
      </ng-template>




    </mat-sidenav-content>


  </mat-sidenav-container>

  <div class="container-fluid toast-wrapper">
    <div [class]="'col-12 col-md-7 col-lg-5 col-xl-2 toast-base mat-elevation-z6 ' + toast.type" *ngFor="let toast of shared.toasts"
      @fadeIn>
      <div [innerHTML]="toast.message | translate:toast.params" style="width: inherit;">

      </div>
    </div>
  </div>

</body>