<div class="container-fluid row m-0">
        <div class="col-12 col-lg-6 mt-4">
                <h1 translate>notifications</h1>

                <table mat-table [dataSource]="notificationsDataSource" class="mat-elevation-z8" style="width: 100%;">

                        <ng-container matColumnDef="author">
                                <td mat-cell *matCellDef="let element"> {{element.author}} </td>
                        </ng-container>

                        <ng-container matColumnDef="message">
                                <td mat-cell *matCellDef="let element"
                                        [innerHTML]="element.message | translate:element.params"> </td>
                        </ng-container>

                        <tr mat-row *matRowDef="let row; columns: ['author','message'];"></tr>
                </table>

        </div>

        <div class="col-12 col-lg-6 mt-4">
                <h1 translate>calendar</h1>



                <div class="mat-elevation-z8" style="width: 100%;">
                        <div *ngIf="events == null; else eventsLoaded" style="padding: 40px;">
                                <mat-spinner style="margin: auto;"></mat-spinner>
                        </div>


                        <ng-template #eventsLoaded>
                                <div style="border-bottom: rgba(0,0,0,0.1) solid 1px;" *ngFor="let event of events">
                                        <a target="_blank" [href]="event.htmlLink">
                                                <div style="padding: 15px;display: flex; justify-content: space-between;"
                                                        [style]="'border-left: 5px solid ' + getGoogleColor(event.colorId)">
                                                        <p style="color: black;" class="m-0">{{event.summary}}</p>
                                                        <p style="color: black;float: right; opacity: 0.4;" class="m-0"
                                                                [innerHTML]="extractDate(event) | translate">
                                                        </p>
                                                </div>
                                        </a>
                                </div>

                        </ng-template>


                </div>


        </div>
</div>