<div class="container-fluid" style="display: flex; justify-content: space-between;">
    <h1 class="main-header" translate>
        {{name}}</h1>

    <mat-form-field style="display: flex; align-items: flex-end;">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
</div>



<div class="container-fluid">

    <table mat-table multiTemplateDataRows #table [dataSource]="dataSource"
        style="width: 100%; border-collapse: inherit;">
        <ng-container *ngFor="let column of columns" [matColumnDef]="column">
            <th mat-header-cell *matHeaderCellDef> {{column | translate}} </th>
            <td mat-cell *matCellDef="let row"> {{row[column]}} </td>
        </ng-container>

        <ng-container matColumnDef="expandedDetail" *ngIf="actions">
            <td mat-cell *matCellDef="let element" [attr.colspan]="columns.length">
                <div class="example-element-detail" style="overflow: hidden;
                display: flex;float: right;" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">

                    <button mat-button (click)="onAction(action.id, element)" *ngFor="let action of actions"
                        [style.backgroundColor]="action.backgroundColor" style="margin: 10px; outline: none;">
                        <span class="material-icons" style="font-size: 19px;" [innerHTML]="action.icon"></span>
                    </button>

                </div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columns"></tr>
        <tr mat-row *matRowDef="let row; columns: columns" class="expandable-table-row"
            [style]="actions ? 'cursor: pointer;' : ''" [class.example-expanded-row]="expandedElement === row"
            (click)="expandedElement = row" (click)="$event.preventDefault()"></tr>
        <tr mat-row *matRowDef="let row; columns: actions ? ['expandedDetail'] : null" class="example-detail-row"
            style="height: 0;">
        </tr>
    </table>
    <mat-paginator *ngIf="dataSource.data.length > pageSize" [length]="dataSource.data.length" [pageSize]="pageSize"
        [pageSizeOptions]="[10, 20, 50]"></mat-paginator>
</div>