<div class="container-fluid" style="display: flex; justify-content: space-between;">
    <h1 class="main-header" translate>
        {{name}}</h1>
</div>



<div class="container-fluid">

    <span *ngFor="let field of fields">
        <span [ngSwitch]="field.type">
            <span *ngSwitchCase="0">
                <mat-form-field [class]="field.class">
                    <mat-label translate>{{field.name}}</mat-label>
                    <input matInput type="text" [(ngModel)]="field.value">
                </mat-form-field>
            </span>

            <span *ngSwitchCase="1">
                <mat-form-field appearance="fill" [class]="field.class">
                    <mat-label translate>{{field.name}}</mat-label>
                    <mat-select [(value)]="field.value" [compareWith]="field.compareWith">
                        <mat-option *ngFor="let option of field.options" [value]="option.value">
                            {{option.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </span>

            <div *ngSwitchDefault>

            </div>
        </span>
    </span>

    <div class="row" style="justify-content: flex-end;">
        <span *ngFor="let button of actions" class="col-12 col-sm-6 col-md-3 col-lg-2 col-xl-1">
            <button mat-raised-button style="width: 100%;" (click)="onAction(button.id)">{{button.icon | translate}}</button>
        </span>
    </div>
</div>