<div style="height: 100%;display: flex; flex-direction: column; justify-content: space-between;">
    <div>
        <div class="container-fluid" style="display: flex; justify-content: space-between;">
            <h1 class="main-header" translate>
                {{name}}</h1>

            <mat-form-field style="display: flex; align-items: flex-end;">
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
            </mat-form-field>
        </div>



        <div class="container-fluid">

            <table mat-table multiTemplateDataRows #table [dataSource]="dataSource"
                style="width: 100%; border-collapse: inherit;">
                <ng-container *ngFor="let column of columns" [matColumnDef]="column.name">
                    <th mat-header-cell *matHeaderCellDef> {{column.name | translate}} </th>
                    <td mat-cell *matCellDef="let row"> {{column.assignValue ? column.assignValue(row) :
                        row[column.name]}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="expandedDetail" *ngIf="actions">
                    <td mat-cell *matCellDef="let element" [attr.colspan]="columns.length">
                        <div class="example-element-detail" style="overflow: hidden;
                        display: flex;float: right;"
                            [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">

                            <button mat-button (click)="onRowAction(action.id, element)" *ngFor="let action of actions"
                                [style.backgroundColor]="action.backgroundColor" style="margin: 10px; outline: none;">
                                <span class="material-icons" style="font-size: 19px;" [innerHTML]="action.icon"></span>
                            </button>

                        </div>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayColumns" class="expandable-table-row"
                    [style]="rowStyle" [class.example-expanded-row]="expandedElement === row"
                    (click)="expandedElement = row" (click)="onRowClick(row)" (click)="$event.preventDefault()"></tr>
                <tr mat-row *matRowDef="let row; columns: actions ? ['expandedDetail'] : null"
                    class="example-detail-row" style="height: 0; ">
                </tr>
            </table>
            <mat-progress-bar *ngIf="isLoading" mode="indeterminate" style="width: 100%;"></mat-progress-bar>
            <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="[10, 20, 50]"></mat-paginator>


        </div>
    </div>

    <div>
        <div class="row m-0" style="justify-content: flex-end;padding-top: 20px; padding-bottom: 20px;">
            <span *ngFor="let button of underActions" class="col-12 col-sm-6 col-md-3 col-xl-2">
                <button mat-raised-button style="width: 100%;line-height: 45px;margin-top: 10px;"
                    [color]="button.backgroundColor ? '' : 'primary'" [style.background]="button.backgroundColor"
                    (click)="onUnderAction(button.id)">
                    <span class="material-icons" style="margin-right: 5px;" [innerHTML]="button.icon"></span>
                    <span>{{button.name | translate}}</span>
                </button>
            </span>
        </div>
    </div>

</div>